/* Header*/

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #59c6e8;
    height: 80px;
    position: sticky;
    z-index: 999;
    font-size: 1.2rem;
    top: 0;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    z-index: 1;
}
.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 2.6rem;
    color: #fff;
    letter-spacing: 0.1rem;
    cursor: pointer;
}
.navbar-menu{
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    margin-right: 40px;
}
.navbar-item{
    height: 80px;
}
.navbar-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    padding: 0 2rem;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
   
}
.navbar-link:hover{
    color: blue;
    transition: all 0.2s ease;
}
.navbar-link.active{
    color: blue;
}
/*Mobile Responsive */
@media screen and (max-width: 960px) {
    .navbar-container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1600px;
        padding: 0;
    }
    .navbar-logo{
        padding-left: 30px;
    }
    .navbar-menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position:absolute;
        top: -1000px;
        opacity: 0;
        height: 50vh;
        z-index: -1;
        transition: all 0.5s ease;
        background: #59c6e8;
    }
    .navbar-menu.active{ 
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        
    }
    .navbar-toggle .bar{
        width: 35px;
        height: 5px;
        border-radius: 10px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background-color: #fff;
        display: block;
        cursor: pointer;
    }
    #mobile-menu{
        position: absolute;
        top: 25%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar-item{
        width: 100%;
        display: block;  
    }
    .navbar-link{
       display: table;
       padding: 3rem;
       width: 100%;
       text-align: center;
    }
    /* Mobile Header Js */
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* Footer Section */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #59c6e8;
    font-size: 1.2rem;   
    padding: 30px;
}
.footer-menu{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.footer-menu li{
    margin-bottom: 10px;
}
.footer-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-link{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.footer-link:hover{
    color: blue;
    transition: all 0.2s ease;
}
.footer-link.active{
    color: blue;
}

.footer-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-family: 'Dancing Script', cursive;
        font-size: 2.6rem;
        color: #fff;
        letter-spacing: 0.1rem;
        margin-bottom: 5px;
        cursor: pointer;
}
.rights{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.2rem;
}
.address-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.address-content>*{
    margin-bottom: 10px;
}
.address-content>*>a{
    margin-left: 10px;
}
.right-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.right-content h3{
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.right-content a{
    color: #fff;
    text-decoration: none;
}
 .phone{
    display: flex;
 }
 .fa-phone-alt:before,
 .fa-address-card:before,
 .fa-at:before {
    color: #000;
 }
 .fa-facebook-f{
    font-size: 1.5rem;
    color: #000;
 }

 /* Mobile Responsive */
@media screen and (max-width: 688px) {
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    .midle-content{
        margin: 20px 0 ;
    }
    .social{
        display: flex;
        justify-content: center;
    }
}